*{
    font-family: 'Poppins', sans-serif;
}
.nav-container{
   height: 80px; 
   top: 0px;
   position: sticky;
   background-color: white;
   display: flex;
   height: 70px;
   width: 100vw;
   border-bottom: 1px solid rgba(128, 128, 128, 0.315);

}
.nav-container img{
    margin-left: 100px;
    margin-top: 8px;
}
.nav-page{
    display: flex;
    margin-left: 500px;
    justify-content: center;
    text-align: center;

}
.nav-page>a{
    margin: 22px;
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.nav-page button{
    border: 1px solid gold;
    width: 100px;
    height: 38px;
    background-color: white;
    border-radius: 5px;
    margin: 15px;
}
.container-1{
    display: flex;
    justify-content: space-around;
}
.c1-A{
    width: 400px;
    font-size: larger;
    margin-top: 100px;
}
.c1-A h5{
    color:rgba(0, 0, 0, 0.507);
    border-left: 4px solid rgba(128, 128, 128, 0.363);
    line-height: 35px;
    box-shadow: 0ch;
}
.button1{
    width: 140px;
    height: 45px;
    border-radius: 6px;
    border: none;
    background-color: #FCC822;
    color: white;
    font-size: large;
}
.button2{
    color: #FCC822 ;
    font-size: large;
    background-color: white;
    border: none;
}
.button2:hover{
    width: 140px;
    height: 45px;
    background-color: #FCC822 ;
    border-radius: 6px;
    border: none;
    color: white;
}
.container-2{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    z-index: 12;
    justify-content: flex-end;
    background-color: rgba(216, 138, 36, 0.384);
}
.topics-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.con2-pop-up{
    background-color: whitesmoke;
    width: 500px;
    height: 330px;
    padding: 10px;

}
.topic{
    width: 120px;
    height: 45px;
    background-color: gray;
    margin: 10px;
    padding: 2px;
    font-weight: 500;
}
.con2-cont>h1,h5{
  display: flex;
  justify-content: center;
  text-align: center;
}
.close-icon{
    width: 25px;
    height: 25px;
}
.hide-class{
    display: none;
}
.show-class{
    display: flex;
}